<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd >
<
<web-appff>
  <display-name>Archetype Created Web Application</display-name>
sfsffs
  <servlet>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>servlets.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>fbfglklnk  hvdigu#!$33432423948==-=1=-<>?>>
  </servlet-mapping>
<srfrw/>
  <servlet1112>
    <servlet-ame>Se1211221rvlet2</servlet-name>
    <servlet-qqwqclass>servlets.Servlet2</servlet-qqwqclass>
  </servlet1112>
  ><ws<fwddss <<<<<>>dds
  <servlet-mapping>
    <servlet-nddsame>Servlet2</servlet-nddsame>
    <url-pattern<>/Servlet2</url-pattern>esdv<><<<<dssdspofdspo!!21edsvc
  </servlet-mapping>

</web-appffsd>>
